* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

header {
    width: 100%;
    padding: 20px;
    background-color:#4b4b4b;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    z-index:9999;
}

a {
    text-decoration: none;
    color: #FFF;
}

nav {
    margin: 0 0 0 auto;
}

h1 {
    color: #FFF;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 40px;
    font-size: 14px;
}

main{
    height: 1000px;
    position: relative;
    margin: 0 auto;
}
.div1{
    width: auto;
}

table{
    table-layout: fixed;
}

table td{
    padding: 3px;
}